.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divButton{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

form{
    box-shadow: 2px 2px 10px #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.campo{
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    width: 95%;
    background-color: #f2f2f2;
}

label{
    font-size: 1.2rem;
}

.btn{
    background-color: #3c3ce2;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-style: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #2e2ea5;
}
